<div class="container">
  <h2>Create Your Account</h2>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="accountForm"
    [ngClass]="{ 'invalid-form': !isFormValid() }"
  >
    <!-- Nom et Prénom -->
    <div
      class="form-group"
      [ngClass]="{
        'has-error':
          !areRequiredFieldsFilled && accountForm.get('firstName')?.touched
      }"
    >
      <label for="firstName">First Name:</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
      <div
        *ngIf="
          !areRequiredFieldsFilled && accountForm.get('firstName')?.touched
        "
        class="error-message"
      >
        First Name is required.
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        'has-error':
          !areRequiredFieldsFilled && accountForm.get('lastName')?.touched
      }"
    >
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
      <div
        *ngIf="!areRequiredFieldsFilled && accountForm.get('lastName')?.touched"
        class="error-message"
      >
        Last Name is required.
      </div>
    </div>

    <!-- Email et Confirmation Email -->
    <div
      class="form-group"
      [ngClass]="{
        'has-error':
          !areRequiredFieldsFilled && accountForm.get('email')?.touched
      }"
    >
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="!areRequiredFieldsFilled && accountForm.get('email')?.touched"
        class="error-message"
      >
        Email is required.
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        'has-error':
          !areRequiredFieldsFilled && accountForm.get('confirmEmail')?.touched
      }"
    >
      <label for="confirmEmail">Confirm Email:</label>
      <input
        type="email"
        class="form-control"
        id="confirmEmail"
        formControlName="confirmEmail"
      />
      <div
        *ngIf="
          !areRequiredFieldsFilled && accountForm.get('confirmEmail')?.touched
        "
        class="error-message"
      >
        Confirm Email is required.
      </div>
    </div>

    <!-- Mot de passe et Confirmation Mot de passe -->
    <div
      class="form-group"
      [ngClass]="{
        'has-error':
          !areRequiredFieldsFilled && accountForm.get('password')?.touched
      }"
    >
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <div
        *ngIf="!areRequiredFieldsFilled && accountForm.get('password')?.touched"
        class="error-message"
      >
        Password is required.
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        'has-error':
          !areRequiredFieldsFilled &&
          accountForm.get('confirmPassword')?.touched
      }"
    >
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="
          !areRequiredFieldsFilled &&
          accountForm.get('confirmPassword')?.touched
        "
        class="error-message"
      >
        Confirm Password is required.
      </div>
    </div>

    <!-- Bouton Next -->
    <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">
      Next
    </button>
  </form>
</div>
