.btn-primary {
    background-color: #8fc775;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.btn-primary:hover {
    background-color: #82a473;
}
