<div class="container row">
  <form
    [formGroup]="account2Form"
    (ngSubmit)="onSubmit()"
    class="formGroup center"
  >
    <h2>{{ "Create Your Account (Step 2)" | uppercase }}</h2>

    <!-- Sexe -->
    <div class="form-group content">
      <label for="sexe">Gender<span class="mandatoryLabel">*</span></label>
      <select class="form-control" id="sexe" name="sexe" formControlName="sexe">
        <option value="homme">Man</option>
        <option value="femme">Woman</option>
      </select>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="account2Form.get('sexe')?.hasError('required')"
      >
        {{ getRequiredErrorMessage(account2Form.get("sexe")!) }}
      </div>
    </div>

    <!-- Date de naissance -->
    <div class="form-group">
      <label for="date"
        >Date of Birth<span class="mandatoryLabel">*</span></label
      >
      <input
        type="date"
        class="form-control"
        id="dateOfBirth"
        name="dateOfBirth"
        formControlName="dateOfBirth"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="account2Form.get('date')?.hasError('required')"
      >
        {{ getRequiredErrorMessage(account2Form.get("date")!) }}
      </div>
    </div>

    <!-- Pays -->
    <div class="form-group">
      <label for="country">Country<span class="mandatoryLabel">*</span></label>
      <select
        class="form-control"
        id="country"
        name="country"
        formControlName="country"
      >
        <option *ngFor="let country of countries" [value]="country.alpha2">
          {{ country.nom_fr_fr | uppercase }}
        </option>
      </select>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="account2Form.get('country')?.hasError('required')"
      >
        {{ getRequiredErrorMessage(account2Form.get("country")!) }}
      </div>
    </div>

    <div class="form-group">
      <label for="city">City<span class="mandatoryLabel">*</span></label>
      <input
        type="text"
        class="form-control"
        id="city"
        name="city"
        formControlName="city"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="account2Form.get('city')?.hasError('required')"
      >
        {{ getRequiredErrorMessage(account2Form.get("city")!) }}
      </div>
    </div>

    <!-- Adresse et Code postal -->
    <div class="form-group">
      <label for="adress">Address<span class="mandatoryLabel">*</span></label>
      <input
        type="text"
        class="form-control"
        id="adress"
        name="adress"
        formControlName="adress"
        #inputAddress
        (input)="searchAddresses(inputAddress.value)"
        (focus)="onAddressInputFocus()"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="account2Form.get('adress')?.hasError('required')"
      >
        {{ getRequiredErrorMessage(account2Form.get("adress")!) }}
      </div>
      <div
        *ngIf="addressSuggestions.length > 0 && showAddressSuggestions"
        class="address-suggestions"
      >
        <ul class="list-group">
          <li
            *ngFor="let suggestion of addressSuggestions"
            class="list-group-item"
            (mousedown)="selectAddress(suggestion)"
          >
            {{ suggestion.adresse }}
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="postalCode"
        >Postal Code<span class="mandatoryLabel">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="postalCode"
        name="postalCode"
        formControlName="postalCode"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="account2Form.get('postalCode')?.hasError('required')"
      >
        {{ getRequiredErrorMessage(account2Form.get("postalCode")!) }}
      </div>
    </div>

    <!-- Numéro de téléphone -->
    <div class="form-group">
      <label for="phoneNumber"
        >Phone Number<span class="mandatoryLabel">*</span></label
      >
      <input
        type="tel"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        formControlName="phoneNumber"
        placeholder="06 55 23 87 11"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="account2Form.get('phoneNumber')?.hasError('required')"
      >
        {{ getRequiredErrorMessage(account2Form.get("phoneNumber")!) }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
