body {
  font-family: 'Comfortaa', sans-serif;
  height: 100vh;
  background-image: url('./assets/16583516-fond-vert-pastel-avec-des-traits-de-peinture-sur-toile-vectoriel.jpg');
}
.error-message {
  color: #bb2624;  
  margin-top: 5px;  
  font-size: 13px;
  }
  
.has-error input {
  border-color: #bb2624;  
}


.container {
  width: 800px;
  margin: 0 auto;
  transform: translateY(3%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #8fc775;
  position: relative;

}


.formGroup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 60px rgba(68, 90, 25, 0.709);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #838383;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
}

.btn-primary {
  background-color: #8fc775;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #82a473;
}

 .mandatoryLabel {
  color: #bb2624;
  margin-left: 2px;;
 } 

 input[type="date"] {
  color: #6F7787;   
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url('./assets/calendar.png') no-repeat center; 
  background-size: 20px;

}
